@model string

@if (!String.IsNullOrEmpty(Model))
{
    var MessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@MessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model
    </div>
}