@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="main" class="main main-2">
    <div class="hero-3">
        <div class="container">
            <h1 class="h1">Manage your account</h1>
            <div>
                <h4>Change your account settings</h4>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
