@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (ViewBag.Projects != null)
{
    @foreach (var project in (ViewBag.Projects as ICollection<Dotteam.Models.ProjectModel>))
    {
        <a class="h3" asp-controller="Project" asp-action="Details" asp-route-id="@project.Id" asp-route-name="@project.Name.Replace(" ","-")">@project.Name</a>
        <br />
    }
}

